/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/test_code.iml
/.idea/vcs.xml
/__pycache__/geom_utils.cpython-37.pyc
/__pycache__/test_for_generate_texture.cpython-37.pyc
/__pycache__/test_for_l2_by_objfile.cpython-37.pyc
/__pycache__/test_for_l2_by_off.cpython-37.pyc
/__pycache__/test_for_l2_load_npy.cpython-37.pyc
/5500.obj
/bird_template.npy
/bird_template_orbifold.obj
/BirdReOrined_UnwrapBlender.obj
/BirdReOrined_UnwrapBlender_HalfSeam.mtl
/BirdReOrined_UnwrapBlender_HalfSeam.obj
/campose.npy
/deformBird.obj
/geom_utils.py
/L2_stretch.csv
/lion.off
/lion_texture_lscm.off
/mean_shape_original.off
/mean_shape_RO.off
/mean_shape_RO_orbifold_texture.off
/mean_shape_template.obj
/mean_shape_template_combine_with_original_vertex_and_switched_texFace.obj
/mean_shape_template_original_vertex_and_switch_texFace.obj
/mean_shape_template_with_original_vertex.obj
/mean_shape_texture.off
/mean_shape_texture_faces_be_switched.off
/mesh.off
/nefertiti.off
/nefertiti_texture.off
/nefertiti_texture1.off
/npy_2d_texture.off
/npy_2d_to_3d_texture.off
/runs/Jan22_19-48-28_parker-System/events.out.tfevents.1611316111.parker-System.2633.0
/runs/Jan22_19-51-13_parker-System/events.out.tfevents.1611316274.parker-System.3567.0
/runs/Jan22_19-51-36_parker-System/events.out.tfevents.1611316297.parker-System.3705.0
/runs/Jan22_19-52-42_parker-System/events.out.tfevents.1611316363.parker-System.4121.0
/runs/Jan22_19-53-06_parker-System/events.out.tfevents.1611316387.parker-System.4256.0
/runs/Jan22_20-16-52_parker-System/events.out.tfevents.1611317813.parker-System.10283.0
/runs/Jan22_20-19-55_parker-System/events.out.tfevents.1611317996.parker-System.11157.0
/runs/Jan22_23-46-00_parker-System/data/scalar_group/arctanx/events.out.tfevents.1611330360.parker-System
/runs/Jan22_23-46-00_parker-System/data/scalar_group/xcosx/events.out.tfevents.1611330360.parker-System
/runs/Jan22_23-46-00_parker-System/data/scalar_group/xsinx/events.out.tfevents.1611330360.parker-System
/runs/Jan22_23-46-00_parker-System/events.out.tfevents.1611330360.parker-System
/spot_obj/bird_template_orbifold.obj
/spot_obj/bird_template_ReOrientByBlender.mtl
/spot_obj/bird_template_ReOrientByBlender.obj
/spot_obj/bird_template_ReOrientByBlender2.mtl
/spot_obj/bird_template_ReOrientByBlender2.obj
/spot_obj/BirdReOrined&UnwrapBlender.mtl
/spot_obj/BirdReOrined_UnwrapBlender.obj
/spot_obj/check_64x64.bmp
/spot_obj/lion.obj
/spot_obj/mean_shape_ReOrient.obj
/spot_obj/mean_shape_template_original_vertex_orbifold_uv.obj
/spot_obj/nefertiti.obj
/spot_obj/spot_texture.png
/spot_obj/spot_triangulated.mtl
/spot_obj/spot_triangulated.obj
/spot_obj/uv-grid.png
/spot_shape.off
/spot_texture.off
/spot_texture.png
/spot_triangulated.mtl
/spot_triangulated.obj
/src/experiments/__pycache__/renderer_bird.cpython-37.pyc
/src/experiments/__pycache__/renderer_bird_with_texture_data.cpython-37.pyc
/src/experiments/__pycache__/test_for_e2_by_obj.cpython-37.pyc
/src/experiments/__pycache__/test_for_edited_pixel.cpython-37.pyc
/src/experiments/__pycache__/test_for_flip_the_UVfaces.cpython-37.pyc
/src/experiments/__pycache__/test_for_generate_obj.cpython-37.pyc
/src/experiments/__pycache__/test_for_generate_texture.cpython-37.pyc
/src/experiments/__pycache__/test_for_l2_e2_by_off.cpython-37.pyc
/src/experiments/__pycache__/test_for_load_npy_shape_and_generate_off.cpython-37.pyc
/src/experiments/__pycache__/test_for_load_npy2.cpython-37.pyc
/src/experiments/__pycache__/test_for_load_objfile_watch_face_uv.cpython-37.pyc
/src/experiments/__pycache__/test_for_load_off_and_edited.cpython-37.pyc
/src/experiments/__pycache__/test_for_neural_renderer.cpython-37.pyc
/src/experiments/__pycache__/test_for_numpy_gradient.cpython-37.pyc
/src/experiments/__pycache__/test_for_obj_to_off.cpython-37.pyc
/src/experiments/__pycache__/test_for_show_image.cpython-37.pyc
/src/experiments/__pycache__/test_for_super_inheritance.cpython-37.pyc
/src/experiments/__pycache__/test_for_switch_image.cpython-37.pyc
/src/experiments/__pycache__/test_for_tensorboard.cpython-37.pyc
/src/experiments/__pycache__/test_neural_network.cpython-37.pyc
/src/experiments/__pycache__/test_relu.cpython-37.pyc
/src/experiments/123.txt
/src/experiments/bird_template.npy
/src/experiments/bird_template_orbifold.obj
/src/experiments/bird1_delta_v.txt
/src/experiments/bird1_mask.txt
/src/experiments/bird2_delta_v.txt
/src/experiments/bird2_mask.txt
/src/experiments/bird3_delta_v.txt
/src/experiments/bird3_mask.txt
/src/experiments/bird7_delta_v.txt
/src/experiments/bird7_mask.txt
/src/experiments/birdie1.png
/src/experiments/birdie2.png
/src/experiments/birdie2_silhouette_switch.png
/src/experiments/birdie2_swap.png
/src/experiments/birdie3.jpg
/src/experiments/birdie7.png
/src/experiments/BirdReOrined_UnwrapBlender.obj
/src/experiments/BirdReOrined_UnwrapBlender_HalfSeam.obj
/src/experiments/check_64x64.bmp
/src/experiments/data/400_epoch_npy.png
/src/experiments/data/birdie2_silhouette.png
/src/experiments/data/example_result.gif
/src/experiments/data/Figure_1.png
/src/experiments/data/outputs.png
/src/experiments/data/silhouette.png
/src/experiments/data/teapot.obj
/src/experiments/data/test/birdie2.png
/src/experiments/data/test/birdie2_silhouette.png
/src/experiments/data/test/birdie3_silhouette.png
/src/experiments/data/test/outputs.png
/src/experiments/data/test/texture_0,5.png
/src/experiments/data/test/texture_180.png
/src/experiments/data/test/texture_256_1000run.png
/src/experiments/data/test/texture_512_noperspective.png
/src/experiments/data/test/texture_data_output.png
/src/experiments/data/test/texture_original.png
/src/experiments/data/test/texture_test.png
/src/experiments/data/test/texture_white.png
/src/experiments/data/test/texture_without_background.png
/src/experiments/data/test/y_0.25.gif
/src/experiments/data/test/y_0.3.gif
/src/experiments/data/texture.png
/src/experiments/data/texture_data_output.png
/src/experiments/deformBird.obj
/src/experiments/deformBird3.obj
/src/experiments/load_obj.py
/src/experiments/mean_shape_orbifold_texture_1e12.off
/src/experiments/new_texture_verts.off
/src/experiments/raw_0/cam_values.npy
/src/experiments/raw_0/camera_id.npy
/src/experiments/raw_0/frame_id.npy
/src/experiments/raw_0/gt_cam.npy
/src/experiments/raw_0/gt_quat.npy
/src/experiments/raw_0/hist.npy
/src/experiments/raw_0/network_cam_values.npy
/src/experiments/raw_0/network_quat_error.npy
/src/experiments/raw_0/network_quat_values.npy
/src/experiments/raw_0/quat_error.npy
/src/experiments/raw_0/quat_scores.npy
/src/experiments/raw_0/quat_values.npy
/src/experiments/raw_0/rend_mask_iou_max.npy
/src/experiments/raw_0/rend_mask_iou_mp.npy
/src/experiments/raw_0/shape.npy
/src/experiments/raw_0/texture_uv.npy
/src/experiments/raw_3/cam_values.npy
/src/experiments/raw_3/camera_id.npy
/src/experiments/raw_3/frame_id.npy
/src/experiments/raw_3/gt_cam.npy
/src/experiments/raw_3/gt_quat.npy
/src/experiments/raw_3/hist.npy
/src/experiments/raw_3/network_cam_values.npy
/src/experiments/raw_3/network_quat_error.npy
/src/experiments/raw_3/network_quat_values.npy
/src/experiments/raw_3/quat_error.npy
/src/experiments/raw_3/quat_scores.npy
/src/experiments/raw_3/quat_values.npy
/src/experiments/raw_3/rend_mask_iou_max.npy
/src/experiments/raw_3/rend_mask_iou_mp.npy
/src/experiments/raw_3/shape.npy
/src/experiments/raw_3/texture_uv.npy
/src/experiments/raw_3/train_cub_cleaned.mat
/src/experiments/spot_triangulated.mtl
/src/experiments/test_for_deform_uv_image.py
/src/experiments/test_for_e2_by_obj.py
/src/experiments/test_for_edited_pixel.py
/src/experiments/test_for_flip_the_UVfaces.py
/src/experiments/test_for_generate_obj.py
/src/experiments/test_for_generate_texture.py
/src/experiments/test_for_l2_by_obj.py
/src/experiments/test_for_l2_e2_by_off.py
/src/experiments/test_for_l2_load_npy.py
/src/experiments/test_for_load_npy_shape_and_generate_off.py
/src/experiments/test_for_load_npy2.py
/src/experiments/test_for_load_obj.py
/src/experiments/test_for_load_objfile_watch_face_uv.py
/src/experiments/test_for_load_off_and_edited.py
/src/experiments/test_for_numpy_gradient.py
/src/experiments/test_for_obj_to_off.py
/src/experiments/test_for_pytorch.py
/src/experiments/test_for_show_image.py
/src/experiments/test_for_super_inheritance.py
/src/experiments/test_for_switch_image.py
/src/experiments/test_for_tensorboard.py
/src/experiments/test_relu.py
/src/experiments/test1.png
/src/experiments/test3.png
/src/experiments/texture.png
/src/experiments/texture_data.txt
/src/nnutils/__init__.py
/src/nnutils/__pycache__/__init__.cpython-37.pyc
/src/nnutils/__pycache__/architecture.cpython-37.pyc
/src/nnutils/__pycache__/geom_utils.cpython-37.pyc
/src/nnutils/__pycache__/laplacian.cpython-37.pyc
/src/nnutils/__pycache__/loss_utils.cpython-37.pyc
/src/nnutils/__pycache__/mesh_net.cpython-37.pyc
/src/nnutils/__pycache__/net_blocks.cpython-37.pyc
/src/nnutils/__pycache__/nmr.cpython-37.pyc
/src/nnutils/__pycache__/perceptual_loss.cpython-37.pyc
/src/nnutils/__pycache__/predictor.cpython-37.pyc
/src/nnutils/__pycache__/spade.cpython-37.pyc
/src/nnutils/__pycache__/train_utils.cpython-37.pyc
/src/nnutils/architecture.py
/src/nnutils/geom_utils.py
/src/nnutils/laplacian.py
/src/nnutils/loss_utils.py
/src/nnutils/mesh_net.py
/src/nnutils/net_blocks.py
/src/nnutils/nmr.py
/src/nnutils/perceptual_loss.py
/src/nnutils/predictor.py
/src/nnutils/spade.py
/src/nnutils/train_utils.py
/src/utils/__init__.py
/src/utils/__pycache__/__init__.cpython-37.pyc
/src/utils/__pycache__/bird_vis.cpython-37.pyc
/src/utils/__pycache__/image.cpython-37.pyc
/src/utils/__pycache__/mesh.cpython-37.pyc
/src/utils/__pycache__/misc.cpython-37.pyc
/src/utils/__pycache__/tb_visualizer.cpython-37.pyc
/src/utils/__pycache__/test_for_import.cpython-37.pyc
/src/utils/__pycache__/transformations.cpython-37.pyc
/src/utils/__pycache__/visutil.cpython-37.pyc
/src/utils/bird_vis.py
/src/utils/image.py
/src/utils/mesh.py
/src/utils/misc.py
/src/utils/tb_visualizer.py
/src/utils/test_for_import.py
/src/utils/transformations.py
/src/utils/visutil.py
/tensorboardX-master/.codecov.yml
/tensorboardX-master/.flake8
/tensorboardX-master/.github/ISSUE_TEMPLATE/bug_report.md
/tensorboardX-master/.github/ISSUE_TEMPLATE/feature-requests-or-general-questions.md
/tensorboardX-master/.gitignore
/tensorboardX-master/.travis.yml
/tensorboardX-master/compile.sh
/tensorboardX-master/docs/conf.py
/tensorboardX-master/docs/index.rst
/tensorboardX-master/docs/Makefile
/tensorboardX-master/docs/tensorboard.rst
/tensorboardX-master/docs/tutorial.rst
/tensorboardX-master/docs/tutorial_zh.rst
/tensorboardX-master/docs/utils.rst
/tensorboardX-master/examples/__init__.py
/tensorboardX-master/examples/all_scalars.json
/tensorboardX-master/examples/chainer/extension_logger/net.py
/tensorboardX-master/examples/chainer/extension_logger/train_dcgan.py
/tensorboardX-master/examples/chainer/extension_logger/updater.py
/tensorboardX-master/examples/chainer/extension_logger/visualize.py
/tensorboardX-master/examples/chainer/extension_logger/writetensorboard.py
/tensorboardX-master/examples/chainer/plain_logger/data.py
/tensorboardX-master/examples/chainer/plain_logger/net.py
/tensorboardX-master/examples/chainer/plain_logger/train_vae.py
/tensorboardX-master/examples/create_wit_samples.py
/tensorboardX-master/examples/demo.py
/tensorboardX-master/examples/demo_beholder.py
/tensorboardX-master/examples/demo_caffe2.py
/tensorboardX-master/examples/demo_custom_scalars.py
/tensorboardX-master/examples/demo_embedding.py
/tensorboardX-master/examples/demo_global_writer.py
/tensorboardX-master/examples/demo_graph.py
/tensorboardX-master/examples/demo_hogwild.py
/tensorboardX-master/examples/demo_hparams.py
/tensorboardX-master/examples/demo_matplotlib.py
/tensorboardX-master/examples/demo_multiple_embedding.py
/tensorboardX-master/examples/demo_multiprocessing.py
/tensorboardX-master/examples/demo_nvidia_smi.py
/tensorboardX-master/examples/demo_onnx.py
/tensorboardX-master/examples/demo_openvino.py
/tensorboardX-master/examples/demo_purge.py
/tensorboardX-master/examples/global_1.py
/tensorboardX-master/examples/global_2.py
/tensorboardX-master/examples/mobilenetv2.xml
/tensorboardX-master/examples/processed.cleveland.data
/tensorboardX-master/examples/RUN_AFTER_PIP_INSTALL
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00000/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00000/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00000/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00001/noMetadata/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00002/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00002/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/00002/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/data/scalar_group/arctanx/events.out.tfevents.1611328074.parker-System
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/data/scalar_group/xcosx/events.out.tfevents.1611328074.parker-System
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/data/scalar_group/xsinx/events.out.tfevents.1611328074.parker-System
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/events.out.tfevents.1611328074.parker-System
/tensorboardX-master/examples/runs/Jan22_23-07-54_parker-System/projector_config.pbtxt
/tensorboardX-master/examples/runs/Jan22_23-46-40_parker-System/data/scalar_group/arctanx/events.out.tfevents.1611330400.parker-System
/tensorboardX-master/examples/runs/Jan22_23-46-40_parker-System/data/scalar_group/xcosx/events.out.tfevents.1611330400.parker-System
/tensorboardX-master/examples/runs/Jan22_23-46-40_parker-System/data/scalar_group/xsinx/events.out.tfevents.1611330400.parker-System
/tensorboardX-master/examples/runs/Jan22_23-46-40_parker-System/events.out.tfevents.1611330400.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00000/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00000/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00000/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00001/noMetadata/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00002/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00002/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/00002/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/data/scalar_group/arctanx/events.out.tfevents.1611330437.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/data/scalar_group/xcosx/events.out.tfevents.1611330437.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/data/scalar_group/xsinx/events.out.tfevents.1611330437.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/events.out.tfevents.1611330437.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-17_parker-System/projector_config.pbtxt
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00000/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00000/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00000/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00001/noMetadata/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00002/default/metadata.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00002/default/sprite.png
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/00002/default/tensors.tsv
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/data/scalar_group/arctanx/events.out.tfevents.1611330463.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/data/scalar_group/xcosx/events.out.tfevents.1611330463.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/data/scalar_group/xsinx/events.out.tfevents.1611330463.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/events.out.tfevents.1611330463.parker-System
/tensorboardX-master/examples/runs/Jan22_23-47-43_parker-System/projector_config.pbtxt
/tensorboardX-master/examples/tensorboardX
/tensorboardX-master/HISTORY.rst
/tensorboardX-master/LICENSE
/tensorboardX-master/MANIFEST.in
/tensorboardX-master/README.md
/tensorboardX-master/run_pytest.sh
/tensorboardX-master/screenshots/audio.png
/tensorboardX-master/screenshots/Demo.gif
/tensorboardX-master/screenshots/distribution.png
/tensorboardX-master/screenshots/embedding.png
/tensorboardX-master/screenshots/graph.png
/tensorboardX-master/screenshots/histogram.png
/tensorboardX-master/screenshots/image.png
/tensorboardX-master/screenshots/scalar.png
/tensorboardX-master/screenshots/text.png
/tensorboardX-master/setup.cfg
/tensorboardX-master/setup.py
/tensorboardX-master/tensorboardX/__init__.py
/tensorboardX-master/tensorboardX/beholder/__init__.py
/tensorboardX-master/tensorboardX/beholder/beholder.py
/tensorboardX-master/tensorboardX/beholder/file_system_tools.py
/tensorboardX-master/tensorboardX/beholder/shared_config.py
/tensorboardX-master/tensorboardX/beholder/video_writing.py
/tensorboardX-master/tensorboardX/caffe2_graph.py
/tensorboardX-master/tensorboardX/crc32c.py
/tensorboardX-master/tensorboardX/embedding.py
/tensorboardX-master/tensorboardX/event_file_writer.py
/tensorboardX-master/tensorboardX/global_writer.py
/tensorboardX-master/tensorboardX/onnx_graph.py
/tensorboardX-master/tensorboardX/openvino_graph.py
/tensorboardX-master/tensorboardX/proto/__init__.py
/tensorboardX-master/tensorboardX/proto/api.proto
/tensorboardX-master/tensorboardX/proto/api_pb2.py
/tensorboardX-master/tensorboardX/proto/attr_value.proto
/tensorboardX-master/tensorboardX/proto/attr_value_pb2.py
/tensorboardX-master/tensorboardX/proto/event.proto
/tensorboardX-master/tensorboardX/proto/event_pb2.py
/tensorboardX-master/tensorboardX/proto/graph.proto
/tensorboardX-master/tensorboardX/proto/graph_pb2.py
/tensorboardX-master/tensorboardX/proto/layout.proto
/tensorboardX-master/tensorboardX/proto/layout_pb2.py
/tensorboardX-master/tensorboardX/proto/node_def.proto
/tensorboardX-master/tensorboardX/proto/node_def_pb2.py
/tensorboardX-master/tensorboardX/proto/plugin_hparams.proto
/tensorboardX-master/tensorboardX/proto/plugin_hparams_pb2.py
/tensorboardX-master/tensorboardX/proto/plugin_mesh.proto
/tensorboardX-master/tensorboardX/proto/plugin_mesh_pb2.py
/tensorboardX-master/tensorboardX/proto/plugin_pr_curve.proto
/tensorboardX-master/tensorboardX/proto/plugin_pr_curve_pb2.py
/tensorboardX-master/tensorboardX/proto/plugin_text.proto
/tensorboardX-master/tensorboardX/proto/plugin_text_pb2.py
/tensorboardX-master/tensorboardX/proto/resource_handle.proto
/tensorboardX-master/tensorboardX/proto/resource_handle_pb2.py
/tensorboardX-master/tensorboardX/proto/step_stats.proto
/tensorboardX-master/tensorboardX/proto/step_stats_pb2.py
/tensorboardX-master/tensorboardX/proto/summary.proto
/tensorboardX-master/tensorboardX/proto/summary_pb2.py
/tensorboardX-master/tensorboardX/proto/tensor.proto
/tensorboardX-master/tensorboardX/proto/tensor_pb2.py
/tensorboardX-master/tensorboardX/proto/tensor_shape.proto
/tensorboardX-master/tensorboardX/proto/tensor_shape_pb2.py
/tensorboardX-master/tensorboardX/proto/types.proto
/tensorboardX-master/tensorboardX/proto/types_pb2.py
/tensorboardX-master/tensorboardX/proto/versions.proto
/tensorboardX-master/tensorboardX/proto/versions_pb2.py
/tensorboardX-master/tensorboardX/proto_graph.py
/tensorboardX-master/tensorboardX/pytorch_graph.py
/tensorboardX-master/tensorboardX/record_writer.py
/tensorboardX-master/tensorboardX/summary.py
/tensorboardX-master/tensorboardX/torchvis.py
/tensorboardX-master/tensorboardX/utils.py
/tensorboardX-master/tensorboardX/visdom_writer.py
/tensorboardX-master/tensorboardX/writer.py
/tensorboardX-master/tensorboardX/x2num.py
/tensorboardX-master/tests/__init__.py
/tensorboardX-master/tests/event_file_writer_test.py
/tensorboardX-master/tests/expect/caffe_mnist.expect
/tensorboardX-master/tests/expect/caffe_overfeat.expect
/tensorboardX-master/tests/expect/test_caffe2.test_simple_cnnmodel.expect
/tensorboardX-master/tests/expect/test_caffe2.test_simple_model.expect
/tensorboardX-master/tests/expect/test_pr_curve.test_pr_purve.expect
/tensorboardX-master/tests/expect/test_pr_curve.test_pr_purve_raw.expect
/tensorboardX-master/tests/expect/test_summary.test_audio.expect
/tensorboardX-master/tests/expect/test_summary.test_custom_scalars.expect
/tensorboardX-master/tests/expect/test_summary.test_float32_image.expect
/tensorboardX-master/tests/expect/test_summary.test_histogram_auto.expect
/tensorboardX-master/tests/expect/test_summary.test_histogram_doane.expect
/tensorboardX-master/tests/expect/test_summary.test_histogram_fd.expect
/tensorboardX-master/tests/expect/test_summary.test_hparams.expect
/tensorboardX-master/tests/expect/test_summary.test_hparams_bool.expect
/tensorboardX-master/tests/expect/test_summary.test_hparams_string.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_3_channel_batched.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_boxes.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_four_channel.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_four_channel_batched.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_one_channel.expect
/tensorboardX-master/tests/expect/test_summary.test_image_with_one_channel_batched.expect
/tensorboardX-master/tests/expect/test_summary.test_image_without_channel.expect
/tensorboardX-master/tests/expect/test_summary.test_mesh.expect
/tensorboardX-master/tests/expect/test_summary.test_text.expect
/tensorboardX-master/tests/expect/test_summary.test_uint8_image.expect
/tensorboardX-master/tests/expect/test_summary.test_video.expect
/tensorboardX-master/tests/expect_reader.py
/tensorboardX-master/tests/record_writer_test.py
/tensorboardX-master/tests/test_beholder.py
/tensorboardX-master/tests/test_caffe2.py
/tensorboardX-master/tests/test_chainer_np.py
/tensorboardX-master/tests/test_crc32c.py
/tensorboardX-master/tests/test_embedding.py
/tensorboardX-master/tests/test_figure.py
/tensorboardX-master/tests/test_hparams.py
/tensorboardX-master/tests/test_lint.py
/tensorboardX-master/tests/test_numpy.py
/tensorboardX-master/tests/test_onnx_graph.py
/tensorboardX-master/tests/test_openvino_graph.py
/tensorboardX-master/tests/test_pr_curve.py
/tensorboardX-master/tests/test_pytorch_graph.py
/tensorboardX-master/tests/test_pytorch_np.py
/tensorboardX-master/tests/test_record_writer.py
/tensorboardX-master/tests/test_summary.py
/tensorboardX-master/tests/test_summary_writer.py
/tensorboardX-master/tests/test_utils.py
/tensorboardX-master/tests/test_visdom.py
/tensorboardX-master/tests/test_writer.py
/tensorboardX-master/tests/tset_multiprocess_write.py
/test_tri.off
/test_tri_texture.off
/texture.off
/texture.png
/texture.txt
/texture_512_perspecitve.png
/texture_bird3.png
/texture_birde2.png
/texture_test.png
/texture_white.png
/ucmr_mean_shape_mesh_original.off
/uv-grid.png
